@page
@model GymBuddy.Pages.Michelle.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div style="background: Black;
            color: antiquewhite;
            font-size: 20px;
            padding: 5px;
            margin: 10px;">
<h1> Exercise Details</h1>
</div>
<div style="min-height:400px;Color:black;
     font-size: 20px;
     padding: 5px;
     border: 15px solid lightblue;
     margin: 10px;">
    
    <h4>Exercises</h4>
    <img>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercises.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercises.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.PrimaryMuscle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercises.PrimaryMuscle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.SecondaryMuscle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercises.SecondaryMuscle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.TrainingLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercises.TrainingLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.IntensityLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercises.IntensityLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercises.HaveCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercises.HaveCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Exercises?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
