@page "{SearchString?}"
@model GymBuddy.Pages.Dan.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="background-color:DodgerBlue;
            color: white;
            text-align: center;">Gym Buddy Exercises List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
        Experience Level: <select asp-for="EXPLevel" asp-items="Model.ExperienceLevel">
            <option value="">All</option>
        </select>
    </p>
   
</form>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].PrimaryMuscle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].SecondaryMuscle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].TrainingLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].IntensityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].HaveCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exercises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryMuscle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryMuscle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntensityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaveCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
