@page
@model GymBuddy.Pages.Ben.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mb-5 mt-5">@Html.DisplayFor(model => model.Exercises.Name)</h1>

<div class=" row border-3 border border-danger p-3 rounded mt-5 bg-light">
   
    <div class="col-8 mt-5">
        <table class="table table-striped">
            <tr>
                <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.PrimaryMuscle):</h2></td>
                <td class="p-3"><h4>@Html.DisplayFor(model => model.Exercises.PrimaryMuscle)</h4></td>
            </tr>
            <tr>
                <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.SecondaryMuscle):</h2></td>
                <td class="p-3"><h4>@Html.DisplayFor(model => model.Exercises.SecondaryMuscle)</h4></td>
            </tr>
            <tr>
                <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.TrainingLevel):</h2></td>
                <td class="p-3"><h4>@Html.DisplayFor(model => model.Exercises.TrainingLevel)</h4></td>
            </tr>
            <tr>
                <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.IntensityLevel):</h2></td>
                <td class="p-3"><h4>@Html.DisplayFor(model => model.Exercises.IntensityLevel)</h4></td>
            </tr>
            <tr>
                <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.HaveCompleted):</h2></td>
                <td class="p-3"><h4>@Html.DisplayFor(model => model.Exercises.HaveCompleted)</h4></td>
            </tr>
        </table>
    </div>  
    <div class="col-4 text-center">
        <h2 class="p-3 mb-3">Youtube Video</h2>
        <iframe width="400" height="200" src="@Html.DisplayFor(model=> model.Exercises.Video)" title="Youtube Video Player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
        </iframe>
        
        <h2 class ="p-3 mb-3">@Html.DisplayNameFor(model => model.Exercises.Description)</h2>
        <textarea class="p-3 mb-3" style="height:150px;">
            @Html.DisplayFor(model => model.Exercises.Description)
        </textarea> 
    </div>
 
</div>
<div class="text-center mt-5">
    <a class="text-dark p-2 m-4" style="text-decoration:none;" asp-page="./Edit" asp-route-id="@Model.Exercises.Id"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i> Edit</a>
    <a class="text-dark p-2 m-4" style="text-decoration:none;" asp-page="./Index"><i class="fa-solid fa-arrow-left" style="color: #000000;"></i> Return to List</a>
</div>
