@page "{SearchString?}"
@model GymBuddy.Pages.Ben.IndexModel

@{
    ViewData["Title"] = "Ben's Exercises";
}

<h1>Exercises</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <select asp-for="UserExperience" asp-items="Model.ExperienceLevel">
        <option value="">All</option>
    </select>
    <select asp-for="UserIntensity" asp-items="Model.Intensity">
        <option value="">All</option>
    </select>
    <p>Exercise Name: <input type="text" asp-for="SearchString"/> 
       <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].Name)
                <a style="text-decoration:none; color:black;" asp-asp-page="./Index" asp-route-sortOrder="@Model.NameSort">&#8597</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].PrimaryMuscle)
                <a style="text-decoration:none; color:black;" asp-asp-page="./Index" asp-route-sortOrder="@Model.PrimarySort">&#8597</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].SecondaryMuscle)
                <a style="text-decoration:none; color:black;" asp-asp-page="./Index" asp-route-sortOrder="@Model.SecondarySort">&#8597</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].TrainingLevel)
                <a style="text-decoration:none; color:black;" asp-asp-page="./Index" asp-route-sortOrder="@Model.TrainingSort">&#8597</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].IntensityLevel)
                <a style="text-decoration:none; color:black;" asp-asp-page="./Index" asp-route-sortOrder="@Model.IntensitySort">&#8597</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].HaveCompleted)
                <a style="text-decoration:none; color:black;" asp-asp-page="./Index" asp-route-sortOrder="@Model.CompletedSort">&#8597</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exercises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryMuscle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryMuscle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntensityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaveCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
